<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJs and MongoDB</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut libero debitis accusamus 
        suscipit exercitationem reiciendis voluptatem officiis nihil et,
         a, aut non molestiae laboriosam accusantium delectus eaque assumenda vel? Ab.</p>
    <a href="http://www.google.com" class="btn btn-primary btn-lg">Google</a>
</div>